.main-container{
    width: 70%;
    height: 80vh;
    background-color: rgb(219, 219, 219) ;
    padding: 10px;
}

.chapter-container {
    background-color: white;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.chapter-content {
    padding-inline: 30px;
    padding-top: 40px;
}

.chapter-h1 {
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
}

.chapter-p {
    font-size: 0.65rem;
}

.chapter-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.checkbox {
    width: 20px;
    height: 20px;
    text-align: center;
    vertical-align: middle;

}

.select-child {
    margin-inline: 30px;
}

.select-container {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: row;
}

.input-label {
    font-size: 0.7rem;
    text-align: center;
}

.select-option-container {
    display: flex;
    flex-direction: column;
}

.question-form {
    width: 100%;
    display: flex;
    justify-content: center;
}

.text-question-container {
    display: flex;
    flex-direction: row;
}

.text-question-input-container {
    width: 75%;
    display: flex;
    flex-direction: column;

}

.question-btn {
    margin-top: auto;


    width: 120px;
    height: 50px;
}

hr {
    display: block;
    position: relative;
    padding: 0;
    margin: 20px auto;
    height: 0;
    width: 80%;
    max-height: 0;
    font-size: 1px;
    line-height: 0;
    clear: both;
    border: none;
    border-top: 3px solid #aaaaaa;
    border-bottom: 3px solid #ffffff;
 }