.Content-Container{
    display: flex;
    justify-content: space-around;
}

.Content-Container>.Chapter-Container>ul{
    margin-top: 2em;
    list-style: none;
}

.Content-Container>.Chapter-Container>ul>li{
    margin-bottom: 2em;
    text-align: center;
}

.Content-Container>.Chapter-Container>ul>li>a{
    position: relative;
}

.Content-Container>.Chapter-Container>ul>li>a:active::after{
    content: '';
    
    background-color: gray;
    position: absolute;
    width: 0.2em;
    height: 1em;
}