@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');




*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

a{
    width: max-content;
}

header {
    min-height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

header>span{
    width: calc(100%/3);
    display: flex;
    justify-content: center;
}

header>span>*{
    display: flex;
    justify-content: center;
}

.hamburger-menu{
    margin-left: 15px;
    width: 50px;
    height: auto;


    background-color: none;
    border-radius: none;
    padding: 0;
}

header>span>h1{
    color: white;
}



/* .logo {
    cursor: pointer;
} */

.nav__links {
    list-style: none;
}

.nav__links>li {
    display: inline-block;
    padding: 0 20px;
}

.nav__links>li>a {
    transition: all 0.3s ease 0s;
    color: white;
}

.nav__links>li>a:hover {
    color: #0088a9;
}

.cta {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.cta:hover {
    color: #f0f0f0;
    background-color: rgba(0, 136, 169, 0.8);
}


.hamburger-side-menu-header{
    display: flex;
    background-color: #000000;
    width: 100%;
    justify-content: space-evenly;
}

.hamburger-side-menu-icon-container{
    border-radius: 50%;
    height: 45px;
    width: 45px;

    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;

    background-color: var(--front-background-color);
}

#close-container{
    position: absolute;
    top: 0;
    right: 10px;
    margin-top: 5px;

}

#close-container-button{
    position: relative;
    background: none;
    border: none;
}

.hamburger-side-menu-icon{
    background-color: var(--front-background-color);
    
}

header{
    position: relative;
    overflow-x: hidden;
    max-height: var(--header-height);
}

.hamburger-menu>img{
    width: 40px;
    height: auto;
}

#hamburger-side-menu{
    --width-of-menu: 250px;

    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: var(--header-height);
    width: var(--width-of-menu);
    top: 0;
    right: calc(-1 * var(--width-of-menu));

    background-color: #000000;
    transition: right 250ms ease-in-out,
                margin-right 250ms ease-in-out;
}

#hamburger-side-menu>*{
    background-color: var(--front-background-color);
}


#hamburger-side-menu *{
    transition: none !important;

    color: var(--text-color);
    
    text-align: center;

    transition: background-color 250ms ease-in-out,
                color 250ms ease-in-out;
}

.show-hamburger-menu{
    right: 0 !important;
    margin-right: 50px;
}